* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

// 8c7d6f; f2d5c0
 
body {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left: 80px;
    width: 1250px;  
    height: 100vh;
    background-color: #21262c;

    .main{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 100px;
        color: #f2d5c0;

        .input-side{
            display: flex;
            flex-direction: column;
            width: 465px;
            gap: 50px;

            .pass-text{
                height: 200px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                font-size: large;
                
                label {
                    margin-bottom: 10px;
                }
                
                input {
                    width: 200px;
                    border: none;
                    padding: 8px;
                    border-radius: 5px;
                    color:#21262c;
                    margin-bottom: 20px;
                    &:focus{
                        outline: solid 2px #f2d5c0;
                    }
                }
    
                textarea {
                    align-self: center;
                    resize: none;
                    padding: 8px;
                    border-radius: 5px;
                    height: 55px;
                    width: 445px;
                    color:#21262c;
    
                    &:focus {
                        outline: solid 2px #f2d5c0;
                    }

                    scrollbar-arrow-color: red;
                }
            }

            .buttons {
                align-self: center;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 400px;

                button {
                    border: none;
                    padding: 8px;
                    border-radius: 3px;
                    font-size: large;
                    background-color: #f2d5c0;
                    color: #21262c;
                    cursor: pointer;
                    transition: 0.3s ease;
    
                    &:hover {
                        color: #f2d5c0;
                        background-color:grey;
                    }
    
                    &:active{
                        transform: scale(0.95);
                    }
                }
            }

            .ciphered{
                align-self: center;
                resize: none;
                padding: 8px;
                border-radius: 5px;
                height: 55px;
                width: 445px;
                color:#21262c;

                &:focus {
                    outline: none;
                }
            }
        }

        
        
        table {
            border-collapse: collapse;
            font-size: 12px;
            width: 600px;
            height: 600px;
    
            tr{
                &:first-child td{
                    border-top: none;
                }
                &:last-child td {
                    border-bottom: none;
                }
    
                td {
                    border: solid 2px #f2d5c0;
                    text-align: center;
                    vertical-align: middle;
                    cursor: default;

                    &:first-child{
                        border-left: none;
                    }
                    &:last-child{
                        border-right: none;
                    }
                }
            }
        }

        .languages {
            align-self: center;
            width: 300px;
            display: flex;
            flex-direction: row;
            gap: 15px;
            justify-content: space-between;

            button {
                background-color: transparent;
                outline: none;
                border: none;
                color:#f2d5c0;
                cursor: pointer;
                transition: 0.3s ease;

                &:hover{
                    color: gray;
                }
            }
        }
    }
}